// Custom
@import "../../styles/scss/animations.scss";

/*
 * Reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Universal Styles
 */

$brand-color: rgba(106, 98, 250, 1);
$text-color: rgba(6, 6, 6, 1);
$bg-color: rgba(230, 230, 230, 1);
$serif-stack: 'Nimbus Roman', 'Times New Roman', serif;
$sans-stack: 'Inter', sans-serif;

@mixin filter($type,$amount) {
-webkit-filter: unquote($type+unquote('(#{$amount})'));
   -moz-filter: unquote($type+unquote('(#{$amount})'));
    -ms-filter: unquote($type+unquote('(#{$amount})'));
     -o-filter: unquote($type+unquote('(#{$amount})'));
        filter: unquote($type+unquote('(#{$amount})'));
}


/* manrope-variable */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('../fonts/inter[slnt,wght].woff2') format('woff2'),
       url('../fonts/inter[slnt,wght].ttf') format('truetype-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Nimbus Roman';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NimbusRomNo9L-Reg.woff2') format('woff2'),
       url('../fonts/NimbusRomNo9L-Reg.otf') format('opentype-variations');
  font-display: swap;
}

body {
  background-color: $bg-color;
}

html, body {
  font-family: $sans-stack;
  color: $text-color;
  font-size: 28px;
  cursor: url('../cursors/cursor_pointed_min.svg'), default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-stack;
  font-weight: 400;
  -ms-word-break: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
  hyphens: auto;
  margin-top: 0;
  letter-spacing: -.02em;
}

h1 {
  font-size: 4.5vmax;
  line-height: 1.2em;
  margin-bottom: 1em;

  & a:hover {
    color: rgba(0,0,0,0);
    -webkit-text-stroke: .02em $brand-color;
  }
}

h2{
  font-size: 2.5rem;
  line-height: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 2rem;
  line-height: 1em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 0.2em;
}

p {
  font-size: 1rem;
  font-variation-settings: 'wght' 400, 'wdth' 100;
  line-height: 1.5em;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  font-size: inherit;
  color: inherit;
  font-variation-settings: 'wght' 600, 'wdth' 100;
  cursor: url('../cursors/cursor_link_min.svg') 22 22, pointer;
  text-decoration: underline;
  -ms-word-break: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

	&:hover {
    color: $brand-color;
		text-decoration: none;
  }
  
  &:focus {
    outline: 2px solid $brand-color;
    text-decoration: none;
  }

	&:active {
    color: $brand-color;
    text-decoration: none;
  }
  
  & h3 {
    font-family: $sans-stack;
  }
}

::selection, ::-moz-selection {
	color: white;
	background: $brand-color;
}

canvas {
	outline: none; /* desktop browsers */
	-webkit-tap-highlight-color: rgba(255,255,255,0); /* mobile webkit */
}


/*
 * Bootstrap Changes
 */

.img-fluid {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mr-auto {
  margin-right: auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

/*
 * CSS Grid setup
 */ 

.d-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

.col-4 {
  grid-column: span 4;
}

.col-6 {
  grid-column: span 6;
}

.col-12 {
  grid-column: span 12;
}


/*
 * Layout Styles
 */

#logo {
  grid-column: span 12;
  position: fixed;
  z-index: 2;

  & img {
    height: 2.5rem;
    @include transition(250ms);

    &:hover {
      background: none;
      @include filter(opacity, 50%);
    }
  }
}

#wrapper{
  padding: 1rem;
}

main  {
  padding-top: 6.5rem;
}

#bio {
  padding-bottom: 1.5em;
}

.sidebar {
  position: fixed;
  max-width: calc(33.33333% - 3em);
  padding-right: 2.5rem;

  & > div {
    grid-column: span 12;
  }
}

.navigation {
  margin-top: 2em;
}

.content {
  grid-column-start: 5;
  grid-column-end: 13;

  & .navigation {
    grid-column: span 12;
    display: none;
  }
}

#interactive-sketch {
  margin-bottom: 0;
}

.small {
	font-size: 80%;
	margin-bottom: 0;
}

.light {
  color: rgba(34, 34, 34, 0.6);
  font-family: inherit;
}

footer {
	margin-top: 4em;
}


/* Hover effects for project blocks */

.project-preview {
  @include filter (grayscale, 100%);
  @include transition(250ms);
  grid-column: span 4;

  &:hover {
    @include filter (grayscale, 0%);
    transform: rotate(-2deg);
  }
}


/* Processing self-portrait */

.react-p5 {
  position: fixed;
  width: 25%;
  margin: 0 auto;
}

#self-portrait {
  width: 100% !important;
  height: auto !important;
}



/*
 * Media Queries
 */


@media (max-width: 1200px) {

  html, body {
    font-size: 24px;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  #self-portrait {
    margin-left: 0;
  }

  .project-preview {
    grid-column: span 6;
  }

}

@media (max-width:992px) {

	html, body {
		font-size: 20px;
  }

}

@media (max-width:768px) {

  #self-portrait {
    opacity: .5;
  }

  .sidebar {
    grid-column: span 12;
    position: relative;
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 1em;

    & .navigation {
      display: none;
    }
  }

  .content {
    grid-column: span 12;

    & .navigation {
      display: flex;

      & a {
        font-size: 1.5rem;
      }
    }
  }

  .react-p5 {
    position: absolute;
    width: 25%;
    top: 20vh;
    right: 1.25rem;
    left: initial;
    bottom: initial;
  }

}